<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="production/styles.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="production/production.js"></script>
    <title> App </title>
  </head>

  <body ng-app="app" ng-controller="thecontroller">
    <nav class="navbar navbar-inverse nav-fixed-top">
      <div class="container">
        <a class="navbar-brand"> AirList </a>
        <div class="navbar-form navbar-left">
          <select ng-model="selectedOption" ng-init="selectedOption = options[0].category" class="form-control">
            <option ng-repeat="x in options" value="{{x.category}}">
              {{x.category}}
            </option>
          </select>

          <input type="text" ng-model="searchBox" placeholder="Search items to rent" class="form-control">
          <button type="button" class="btn btn-primary" ng-click="search(selectedOption)">Search</button>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class ="row">

      <h3> Your Listing </h3>
      <select ng-model="list.category" class="form-control listingClass" ng-init="list.category = addCategory[0].category" >
        <option ng-repeat="y in addCategory" value="{{y.category}}">
          {{y.category}}
        </option>
      </select>

      <div ><input ng-model="list.name" placeholder="Item Name"></input></div>
      <div><textarea ng-model="list.description"  placeholder="Description" class="description"></textarea> </div>
      <div><input ng-model="list.price" placeholder="Price"></input></div>
      <div><input ng-model="list.days" placeholder="Number of Days"></input></div>
      <span ng-model="list.rentable" ng-init="list.rentable=true">
      <button ng-click="addItem(list)" type="button" class="btn btn-primary">Add</button>
      </div>
    </div> <!-- end of container -->

      <hr>

      <!--  <div>
        {{list.name}}
        <br>
        {{list.description}}
        <br>
        {{list.price}}
        <br>
        {{list.days}} days <button ng-click="rent(list)">Rent</button>
        <button ng-click="remove(list)">Delete</button>
        <br>
        {{ list.rentable  ?  "available now"  : "not available" }}
      </div> -->

      <!-- display search results -->
    <div class="container">
      <div class="row">
        <h3> Search Results </h3>
        <div class="searchResults" ng-repeat="list in query | filter:searchBox | orderBy: 'category'">
          {{list.name}}
          <br>
          {{list.description}}
          <br>
          {{list.price}}
          <br>
          {{list.days}} days <button ng-click="rent(list)">Rent</button>
          <br>
          {{ list.rentable  ?  "available now"  : "not available" }}
        </div>
      </div>
    </div>

      <hr>
      <!-- display after adding/deleting items -->
    <div class="container">
      <div class="row">
        <h3> All Listings </h3>
        <div class="addDelete" ng-repeat="list in lists">
           {{list.name}}
          <br>
          {{list.description}}
          <br>
          {{list.price}}
          <br>
          {{list.days}} days <button ng-click="rent(list)">Rent</button>
          <button ng-click="remove(list)">Delete</button>
          <br>
          {{ list.rentable  ?  "available now"  : "not available" }}
        </div>
      </div>
    </div>
  </body>

</html>