<!DOCTYPE html>
<html>

<link rel="stylesheet" href="production/styles.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
<script src="production/production.min.js"></script>
<head>
  <title> App </title>
</head>

<body ng-app>

<h1>HELLO FUTURE AIRLIST COMING!!!</h1>
<h1>Checking auto deploy</h1>

  <input ng-model=list.item></input>
  <button ng-click="addItem(list)">Add</button>

  <p> <input type="text" ng-model="food"> </p>
  <p> {{ food }} </p>

  <ul ng-repeat="list in lists">
    <li></li>
    <li></li>
    <li></li>
  </div>


</body>

</html>