html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  font-family: 'Lato', sans-serif;
}

.listingClass {
  width: 30% ;
}

.listEntryMap {
  height: 130px;
  border: 1px solid black;
}

.navbar div .banner {
  width: 100%;
  border-radius: 2px
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
footer > ul > li > a {
  color: #333;
}