<!-- BEGIN NAV -->
<!-- navbar with a banner image, dropdown selection, searh, logout, your account, all listings button    -->
<nav class="navbar navbar-inverse nav-fixed-top">
  <div>
  <img src="../images/goods.jpg" class="img-responsive banner">
  </div>
   <div class="container ">
     <a class="navbar-brand" href='#/'> AirList </a>
     <div class="navbar-form ">
       <select ng-model="selectedOption" ng-init="selectedOption = options[0].category" class="form-control">
         <option ng-repeat="x in options" value="{{x.category}}">
           {{x.category}}
         </option>
       </select>

       <input type="text" ng-model="searchBox" placeholder="Search items to rent" class="form-control">
       <button type="button" class="btn btn-primary" ng-click="showme=true; search(selectedOption)">Search</button>
       <button type="button" class="btn btn-primary pull-right" ng-click="logout()">Log Out</button>
       <button type="button" class="btn btn-primary pull-right" ng-click="goToUserAcc()">Your Account</button>
       <button type="button" class="btn btn-primary pull-right" ng-click="showme=false">All Listings</button>
     </div>
   </div>
</nav>
<!-- End NAV -->

<!-- search results -->
<!-- if not signed in already, will automatically ask you to login via the ng-init login function  -->
<!-- display all items in search results and filter by searchbox query  -->
<!-- can rent an item which will add user email to object as renter property
can send email to user by accessing email property of object -->
<div class="container" ng-show="showme" ng-init="login()">
 <div class="row" ng-show="showme">
   <h2> Search Results: </h2>
   <br>
     <div ng-init="refresh()" ng-repeat="list in query | filter:searchBox | orderBy: 'category'">
      <div class="col-sm-12">
      <div class="col-xs-6 col-md-2">
        <a class="thumbnail">
          <img src="../images/{{list.category}}.png">
        </a>
      </div>
      <div>
         <strong> Item Name: </strong> {{list.name}}
         <br>
         <strong> Category: </strong> {{list.category}}
         <br>
         <strong> Item Description: </strong> {{list.description}}
         <br>
         <strong> Price Per Day: </strong> ${{list.price}}
         <br>
         <strong> Rental Period: </strong> {{list.days}} days
         <br>
         <strong> {{ list.rentable  ?  "Available Now"  : "Not Available" }} </strong>
         <button class="btn-success" ng-click="rent(list)">Rent</button>
         <button class = "btn-primary" ng-click="sendEmail(list)">Contact Owner</button>
       </div>
     </div>
   </div>
 </div>
</div>

 <!-- display after adding/deleting items -->
<!--  run generalListings to load lists  -->
<div class="container" ng-hide="showme">
 <div class="row" ng-hide="showme">
   <h2 > All Listings: </h2>
   <br>
   <div ng-repeat="list in lists">
   <div class="col-sm-12">
      <div class="col-xs-6 col-md-2">
        <a class="thumbnail">
          <img src="../images/{{list.category}}.png">
        </a>
      </div>
     <div class="col-xs-6 col-md-4">
       <strong> Item Name: </strong> {{list.name}}
       <br>
       <strong> Category: </strong> {{list.category}}
       <br>
        <strong> Item Description: </strong> {{list.description}}
       <br>
       <strong> Price Per Day: </strong> ${{list.price}}
       <br>
       <strong> Rental Period: </strong> {{list.days}} days
       <br>
       <strong> {{ list.rentable  ?  "Available Now"  : "Not Available" }}  </strong>
       <button class="btn-success" ng-click="rent(list)">Rent</button>
       <button class = "btn-primary" ng-click="sendEmail(list)">Contact Owner</button>
     </div>
     <!-- ng-class to create a class if item has a latitude and longitude so we do not have empty black boxes -->
     <!-- keep track of each individual listentry via index -->
     <div class="col-xs-12 col-md-4" ng-class="{listEntryMap: list.latitude && list.longitude}"  id="listentry-{{$index}}"></div>
    </div><!-- End of col-sm-12 -->
   </div><!-- End of lists div -->
 </div><!-- End of row -->
</div> <!-- End of container -->


