<nav class="navbar navbar-inverse nav-fixed-top">
     <div class="container">
       <a class="navbar-brand"> AirList </a>
       <div class="navbar-form navbar-left">
         <select ng-model="selectedOption" ng-init="selectedOption = options[0].category" class="form-control">
           <option ng-repeat="x in options" value="{{x.category}}">
             {{x.category}}
           </option>
         </select>

         <input type="text" ng-model="searchBox" placeholder="Search items to rent" class="form-control">
         <button type="button" class="btn btn-primary" ng-click="search(selectedOption)">Search</button>
       </div>
     </div>
   </nav>

     <h3> Your Listing </h3>
     <select ng-model="list.category" class="form-control listingClass" ng-init="list.category = addCategory[0].category" >
       <option ng-repeat="y in addCategory" value="{{y.category}}">
         {{y.category}}
       </option>
     </select>

     <div ><input ng-model="list.name" placeholder="Item Name"></input></div>
     <div><textarea ng-model="list.description"  placeholder="Description" class="description"></textarea> </div>
     <div><input ng-model="list.price" placeholder="Price"></input></div>
     <div><input ng-model="list.days" placeholder="Number of Days"></input></div>
     <span ng-model="list.rentable" ng-init="list.rentable=true">
     <button ng-click="addItem(list)" type="button" class="btn btn-primary">Add</button>
     </div>
   </div>


  <div class="container" ng-init="yourListings()">
     <div class="row">
       <h3> View Your Current Listings </h3>
       <div class="searchResults" ng-repeat="list in yourItems | filter:userId | orderBy: 'category'">
         {{list.name}}
         <br>
         {{list.description}}
         <br>
         {{list.price}}
         <br>
         {{list.days}} days
         <button ng-click="remove(list)">Delete</button>
         <br>
         {{ list.rentable  ?  "available now"  : "not available" }}
       </div>
     </div>
   </div>