<nav class="navbar navbar-inverse nav-fixed-top">
     <div class="container">
       <a class="navbar-brand" href='#/'> AirList </a>
       <div class="navbar-form">
         <select ng-model="selectedOption" ng-init="selectedOption = options[0].category" class="form-control">
           <option ng-repeat="x in options" value="{{x.category}}">
             {{x.category}}
           </option>
         </select>

         <input type="text" ng-model="searchBox" placeholder="Search items to rent" class="form-control">
         <button type="button" class="btn btn-primary" ng-click="showme=true; search(selectedOption)">Search</button>
         <button type="button" class="btn btn-primary pull-right" ng-click="logout()">Log Out</button>
         <button type="button" class="btn btn-primary pull-right" ng-click="showme=false">Your Listings</button>
         <button type="button" class="btn btn-primary pull-right" ng-click="viewAllListings()">All Listings</button>

       </div>
     </div>
   </nav>

   <div class="container">
     <div class="row">
       <h3> List an Item </h3>
       <form class="form-horizontal">
       <div class="form-group">
        <label class="col-sm-3"> Category</label>
        <select ng-model="list.category" class="form-control listingClass" ng-init="list.category = addCategory[0].category" >
         <option ng-repeat="y in addCategory" value="{{y.category}}">
           {{y.category}}
         </option>
        </select>
       </div>
       <div class="form-group">
        <label class="col-sm-3">Item Name</label>
        <div class="col-sm-9">
          <input type="text" ng-model="list.name" placeholder="Item Name" class="form-control"></input>
        </div>
       </div>
       <div class="form-group">
        <label class="col-sm-3">Description</label>
        <div class="col-sm-9">
           <input type="text" ng-model="list.description"  placeholder="Description" class="description form-control"></input>
        </div>
       </div>
       <div class="form-group">
        <label class="col-sm-3"> Price </label>
        <div class="col-sm-9">
          <input ng-model="list.price" placeholder="Price" class="form-control"></input>
        </div>
       </div>
       <div class="form-group">
        <label class="col-sm-3"> Number of Days</label>
        <div class="col-sm-9">
          <input ng-model="list.days" placeholder="Number of Days" class="form-control"></input>
        </div>
       </div>
       <span ng-model="list.rentable" ng-init="list.rentable=true">
       <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button ng-click="addItem(list)" type="button" class="btn btn-primary">Add</button>
        </div>
       </div>
       </form>
     </div>
    </div>

   <hr>

    <div class="container" ng-init="yourListings()" ng-hide="showme">
     <div class="row" ng-hide="showme">
       <div class="col-sm-6">
         <h3> View Your Current Listings </h3>
         <div class="searchResults" ng-repeat="list in yourItems | filter: email | orderBy: 'created_at':true">
           <strong> Item Name: </strong>  {{list.name}}
           <br>
           <strong> Item Description: </strong>  {{list.description}}
           <br>
           <strong> Price Per Day: </strong> {{list.price}}
           <br>
           <strong> Number of Days to be listed: </strong> {{list.days}} days
           <button class = "btn-danger" ng-click="remove(list)">Delete</button>
           <br>
           {{ list.rentable  ?  "Available Now"  : "Not Available" }}
           <hr>
         </div>
       </div>

       <div class="col-sm-6">
         <h3> Items You Are Renting </h3>
         <div class="searchResults" ng-repeat="list in yourItems | filter: {renter: email} | orderBy: 'created_at':true">
           <strong> Item Name: </strong>  {{list.name}}
           <br>
           <strong> Item Description: </strong>  {{list.description}}
           <br>
           <strong> Price Per Day: </strong> {{list.price}}
           <br>
           <strong> Number of Days You are Renting: </strong> {{list.days}} days
           <hr>
         </div>
       </div>

     </div>
    </div>

    <hr>

   <div class="container" g-show="showme">
     <div class="row" ng-show="showme">
       <h2> Search Results: </h2>
       <div class="searchResults" ng-init="refresh()" ng-repeat="list in query | filter:searchBox | orderBy: 'category'">
         <strong> Item Name: </strong> {{list.name}}
         <br>
         <strong> Item Description: </strong> {{list.description}}
         <br>
         <strong> Price Per Day: </strong> {{list.price}}
         <br>
         <strong> Number of Days to be listed: </strong> {{list.days}} days
         <br>
         <strong> {{ list.rentable  ?  "Available Now"  : "Not Available" }} </strong>
         <button ng-click="rent(list)">Rent</button>
         <hr>
       </div>
     </div>
   </div>
